{% extends 'init/base.html' %}
{% load static %}

{% block content %}
<div class='text'>
    <div class="question"> 다음 중 어떤 요소를 더 중요하게 생각하시나요? </div><br>

    <form id="updateForm" method="post">
        {% csrf_token %}
        <input type="hidden" name="factor" id="factor">

        <div class="button-container">
            <button type="button" class="styled-button" onclick="submitForm('sweet')">
                <img src="{% static 'init/q/factor-sweet.png' %}" alt="단맛">
            </button><br>
            
            <button type="button" class="styled-button" onclick="submitForm('sour')">
                <img src="{% static 'init/q/factor-sour.png' %}" alt="신맛">
            </button>
        </div>
    </form>
</div>

    <script>
        function submitForm(option) {
            document.getElementById('factor').value = option;
            document.getElementById('updateForm').submit();
        }
    </script>
    
{% endblock %}