{% extends 'init/base.html' %}
{% load static %}

{% block content %}
<div class='text'>
	<div class="question"> 다음 중 술을 선택할 때<br> 가장 중요하게 생각하는 요소는 무엇인가요? </div><br>

    <form id="updateForm" method="post">
        {% csrf_token %}
        <input type="hidden" name="factor" id="factor">

        <div class="button-container">
            <button type="button" class="styled-button" onclick="submitForm('향')">
                <img src="{% static 'init/q/factor-scentorstrong.png' %}" alt="향">
            </button><br>
            
            <button type="button" class="styled-button" onclick="submitForm('맛')">
                <img src="{% static 'init/q/factor-sweetorsour.png' %}" alt="맛">
            </button><br>

            <button type="button" class="styled-button" onclick="submitForm('질감')">
                <img src="{% static 'init/q/factor-bodyorfizzy.png' %}" alt="질감">
            </button> 
        </div>
    </form>
</div>
    
    <script>
        function submitForm(option) {
            document.getElementById('factor').value = option;
            document.getElementById('updateForm').submit();
        }
    </script>

{% endblock %}