/* 화면 너비에 상관없이 모바일 스타일을 적용하고 싶을 때 */
/* 예를 들어, 화면이 1200px 이하일 때도 모바일 스타일을 사용하려면 다음과 같이 작성할 수 있습니다. */
@media only screen and (max-width: 1200px) {
    .container {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@font-face {
    font-family: 'Pretendard';
    src: url('../PretendardVariable.ttf');
}


body {
    background-color: #FDF7F4;
    font-family: 'Pretendard';
    font-weight: 700;
    letter-spacing: -2px;
    color: #43342c;
    font-size: 35px;
    line-height: 1.5;
    text-align: center;

    margin: 0; /* Remove any default margin */
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.container { /* 상하단 겹치지 않도록 */
    margin-top: 120px; 
    margin-bottom: 120px;
}

.text {
    position: absolute;
    transform: translate(-50%, -50%);
    margin-right: -100px; /* 뺄까.. */
}

.subtext {
    font-weight: 500;
    font-size: 25px;
    line-height: 1.3;
}

.medtext {
    font-weight: 600;
    font-size: 30px;
    line-height: 1.3;
}

.pink {
    color:#C36576;
}


.center {
    display: flex; flex-direction: column; align-items: center; 
}

/* Top image styles */
#top-image {
    position: fixed;
    z-index: 1000;

    background-image: url('base/top-myapp.png');
    background-repeat: no-repeat; /* Do not repeat the background image */
    background-size: contain;
    background-position: center; /* Center the background image */

    top: -1%;
    margin-bottom: 10vh;
    
    width: 100%;
    min-height: 100px; /* 최소한 화면의 높이만큼은 보이도록 함 */   
}


/* Navigation bar styles */
.navbar {
    background-image: url('base/nav-bg.png');
    background-repeat: no-repeat; /* Do not repeat the background image */
    background-size: contain;
    background-position: center; /* Center the background image */
    text-align: center;
    align-items: center;

    position: fixed;
    bottom: -1%; /* 화면의 하단에 위치 */
    left: 0; /* 화면의 좌측에 위치 */

    width: 100%;
    height: 150px; /* 네비게이션 바의 높이를 조절 (원하는 값으로 수정) */

    text-align: center; /* 수직 가운데 정렬을 위해 텍스트 정렬 설정*/
}

.icon-link {
    background-repeat: no-repeat; /* Do not repeat the background image */
    background-size: contain;
    background-position: center; /* Center the background image */
    text-decoration: none;

    display: inline-block; /* Change from inline to inline-block */
    overflow: hidden; /* Add overflow property to handle text-indent */
    white-space: nowrap; /* Add white-space property to handle text-indent */
    text-indent: 100%; /* Move text off-screen */

    width: 75px;
    height: 75px;

    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: 60px;
    margin-right: 60px;
}


/* 아니 왜 입력창 설정 여기다 써도 반영 안되는데 ㅋㅋ inline만 먹네 참나;; */
/* 아 F12 -> 새로고침 우클릭 -> 캐시 비우기 및 강력 새로고침 */




.home-product {
    background-image: url("home/home-product-box.png");
    background-repeat: no-repeat;
    background-size: 570px 220px;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center; 

    cursor: pointer;
    width: 570px;
    height: auto; 
}

.home-banner {
    /* cursor: pointer; */
    width: 570px;
    height: auto;  
}

.home-buttons {
    /* cursor: pointer; */
    width: 570px;
    height: auto;
    
    display: flex;
}


.mypage-profile {
    background-image: url("mypage/profile-box.png");
    background-repeat: no-repeat;
    background-size: 650px auto;
    background-position: center;

    text-align: center;
    align-items: center;
    justify-content: center; 

    width: 650px;
    height: auto; 
}

.horizontal-container {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center; 
}

.mypage-appearance {
    text-align: center;
    align-items: center;
    justify-content: center; 

    width: 650px;
    height: auto; 
}


.stamp-box {
    background-image: url("dashboard/stamp-box.png");
    background-repeat: no-repeat;
    background-size: 620px auto;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center; 

    width: 620px;
    height: auto; 
}


.list-box {
    display:flex;
    align-items:center;
    text-align:center;

    width:620px;
    height:auto;

    background-size: 620px auto;
	background-image: url("dashboard/list-box.png");
    background-repeat: no-repeat;
    
    margin:5px;
    margin-left:20px;
    padding:5px;
    padding-bottom:20px;
}

/* 버튼 스타일 */

.radio-button-round input[type="radio"]  {
    display: none;
}

.radio-button-round input[type="radio"] + label {
    display: inline-block;
    vertical-align: top;

    background: url('button/3-button.png') no-repeat;
    background-size: cover;

    margin-top: 10px;
    margin-right: 1px;
    margin-left: 1px;

    padding-top: 10px;

    width: 150px; /* 이미지의 너비에 맞게 조절하세요 */
    height: 65px;
    font-size: 2rem;
}

.radio-button-round input[type="radio"]:checked + label {
    display: inline-block;
    vertical-align: top;

    background: url('button/3-button-clicked.png') no-repeat;
    background-size: cover;

    margin-top: 10px;
    margin-right: 1px;
    margin-left: 1px;

    padding-top: 10px;

    width: 150px; /* 이미지의 너비에 맞게 조절하세요 */
    height: 65px;
    font-size: 2rem;
}


.fixed-button {
    position: fixed;
    z-index: 1000;

    bottom: 10%; /* 네비게이션 바 때문에 10% 올림 */
    transform: translateX(50%);

    height: 8vh; 
    width: auto;

    background: none;
    cursor: pointer;
    border: none;
    box-sizing: border-box; /* 박스 크기를 테두리와 안쪽 여백을 포함하여 계산 */
}

.fixed-button img {
    height: 100%; /* 높이 기준 */
    width: auto;
}


.styled-button {
    background: none;
    cursor: pointer;
    border: none;
    box-sizing: border-box; /* 박스 크기를 테두리와 안쪽 여백을 포함하여 계산 */
}

.styled-button img {
    width: 100%; /* 너비 기준 */
    height: auto;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    flex-shrink: 0;
    width: 90%;
    margin: 10px auto; /* Use 'auto' for horizontal centering */
}

.star-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;

    flex-shrink: 0;
    width: 70%;
    margin: 10px auto; /* Use 'auto' for horizontal centering */
}


/* 오버레이 스타일 */
#blurContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* 검정 배경, 투명도 60% */
    z-index: 1000; /* 다른 콘텐츠 위에 나타나도록 설정 */
    display: none; /* 처음에는 숨김 상태로 설정 */
}

.overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2000; /* 배경 블러보다 위에 위치하도록 설정 */
    display: none; /* 처음에는 숨김 상태로 설정 */
}

.overlay-content {
    background-color: #fff; /* 오버레이 내용의 배경색 설정 */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* 그림자 효과 추가 */

    width: 80vw;
    max-width: 700px;
}